.terms {
    a {
        padding: .75rem 1.25rem;
        margin: 0 .25rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--font-color);
        border-radius: .35rem;
		font-family: var(--article-font-family);
    }
}