:root {
    --sys-font-family: "EB Garamond", serif;
    --base-font-family: var(--sys-font-family);
    --code-font-family: Menlo, Monaco, Consolas, monospace;
    --article-font-family: "EB Garamond", serif;
    --header-font-family: "EB Garamond", serif;
}
